.bodyHome{
    background-color: lightgrey;
}

.squareHome{
    img{
        width: 100%;
        height: auto;
    }
}

// .items{
//     background-color: lightgray;
// }

.cart{
    background-color: white;
}


